# Environment variables
.env
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
static/
media/songs/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
